= simple_form_for @team, :html => { :multipart => true } do |f|
  .input-fields
    = f.input :name, label: t('.team_name')
    = f.input :description, label: t('.team_description')
    = f.file_field :logo
    = f.button :submit, class: "btn btn-success"
