= simple_form_for @team, :html => { :multipart => true } do |f|
  .input-fields
    = f.input :name, label: t('.team_name')
    = f.input :description, label: t('.team_description')
    = f.input :logo, as: :file, label: t('team.index.logo')
    = f.button :submit, t('teams.form.save'), class: "btn btn-success"
