- if @teams.present?
  %h2.title= t(".table")
  %table.table
    %thead
      %tr
        %th=t('.lp')
        %th=t('.team_name')
        %th=t('.matches')
        %th=t('.points')
    - @teams.each_with_index do |team, index|
      %tbody
        %tr
          %td= index + 1
          %td= link_to team.name, team_path(team)
          %td= team.ended_matches.count
          %td= team.points
- else
  %h2.title= t('.no_teams')
  = link_to t('teams.index.add_team'), new_team_path, class: "btn btn-success add-team"
