%h2.show-team= @player.full_name
.team-info
  = image_tag @player.photo.url(:medium)
  .team-details
    = t('players.info..last_name')
    %h2= @player.last_name
    %br
    = t('players.info.first_name')
    %h2= @player.first_name
    %br
    = t('players.info.age')
    %h2= @player.age
    %br
    = t('players.info.weight')
    %h2= @player.weight
    %br
    = t('players.info.height')
    %h2= @player.height

