= simple_form_for @match, :html => { :multipart => true } do |f|
  .input-fields
    = f.input :home_team_id, collection: Team.all, label: t('matches.index.home_team')
    = f.input :away_team_id, collection: Team.all, label: t('matches.index.away_team')
    = f.input :start_date, as: :datetime_picker, label: t('matches.index.date')
    = f.button :submit, class: "btn btn-success"
