%h2.title= t('.matches_list')
- if can? :create, Match
  = link_to t('.add_match'), new_match_path, class: "btn btn-success add-team"
- if @matches.present?
  = form_tag matches_path, class: "form-inline", method: :get do
    .search-new-form
      = text_field_tag :query, params[:query], class: "form-control", "placeholder" => "Podaj nazwę którejś z drużyny"
      = submit_tag "Szukaj", class: "btn btn-default"
      - if params[:query].present?
        = link_to "Pokaż wszystkie", matches_path, class: "btn btn-info"
  %table.table
    %thead
      %tr
        %th=t('.date')
        %th=t('.home_team')
        %th=t('.away_team')
        %th=t('.result')
        - if can? :edit, Match
          %th=t('.edit')
          %th=t('.destroy')
    - @matches.each do |match|
      %tbody
        %tr
          %td= match.start_date.strftime('%Y-%m-%d %H:%M')
          %td= link_to match.home_team.name, team_path(match.home_team)
          %td= link_to match.away_team.name, team_path(match.away_team)
          - if match.scores_present?
            %td= "#{match.home_team_goals} : #{match.away_team_goals}"
          - else
            %td= "_ : _"
          - if can? :edit, Match
            %td= link_to t('.edit'), edit_match_path(match), class: "btn btn-warning"
            %td= link_to t('.destroy'), match_path(match), method: :delete, data: { confirm: t('.confirmation') }, class: "btn btn-danger"
